BEAM_DOMAIN=beam.eysho.info

BEAM_CONTROL_PORT=8080
BEAM_ADMIN_PORT=8081

BEAM_CONTROL_BIND=8080
BEAM_ADMIN_BIND=8081

BEAM_ROUTER_SSH_PORT=2222
BEAM_ROUTER_SSH_BIND=2222
BEAM_ROUTER_SSH_TUNNEL_ID=22-me_up-22

BEAM_API_BASE=http://beam-server:8081

BEAM_PUBLIC_UI_PORT=3000
BEAM_PUBLIC_UI_BIND=3000

BEAM_ADMIN_UI_PORT=3001
BEAM_ADMIN_UI_BIND=3001
