BEAM_DOMAIN=beam.eysho.info

BEAM_CONTROL_PORT=8080
BEAM_ADMIN_PORT=8081

BEAM_CONTROL_BIND=8080
BEAM_ADMIN_BIND=8081

BEAM_ROUTER_SSH_PORT=2222
BEAM_ROUTER_SSH_BIND=2222
BEAM_ROUTER_SSH_TUNNEL_ID=22-me_up-22
